body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.dropdown {
  width: 300px;
  position: relative;
  margin: 20px;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;

}


.select:hover {
  background-color: green;
}

.caret {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid white;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
  transition: 2s;
}

.menu {
  list-style: none;
  padding: 2px 5px;
  background-color: blue;
  border: 1px solid goldenrod;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 30px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
  transition: 0.5s;
}

.menu li {
  padding: 7px 5px;
  margin: 3px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.menu li:hover {
  background-color: black;
  color: white;
}

.menu li.checked::before {
  content: '✓';
  position: absolute;
  right: 5px;
  color: black;
}

.menu-open {
  display: block;
  transition: 2s;
}

.menu ul {
  display: none;
  width: 300px;
  position: absolute;
  left: 300px;
  top: 40px;
  list-style: none;
  background-color: blue;
  padding: 7px 5px;
}

.menu ul.open2 {
  display: block;
}